body {
    font-family: '', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #271d58;
    margin: 0;
    padding: 20px;
}

.faq-container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(44, 46, 60, 0.772);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.faq-content {
    flex: 3;
    margin-right: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-answer {
    display: none;
    background: white;
    padding: 10px;
    border-left: 5px solid #2c5045;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.faq-answer.active {
    display: block;
}

p {
    background-color: #ccec90;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-container {
    text-align: right;
    flex: 1;
    margin-top: 95px;
}

.search-container input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    text-decoration: none;
}

.button-container button {
    padding: 10px 20px;
    font-size: 12px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button-container button:hover {
    background-color: #5a87b0;
}

.email-container {
    text-align: center;
    margin-top: 20px;
}

.email-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5a38f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.email-container a:hover {
    background-color: #c0392b;
}